@page
@model TimeEntryModel
@{
    ViewData["Title"] = "Time Entry";
}

<div class="container">
    <h2 class="my-4">Time Entry</h2>

    <form method="post" class="needs-validation" novalidate>
        <div class="form-row">


            @for (int i = 0; i < Model.WeekDates.Count; i++)
            {
                var date = Model.WeekDates[i];
                <div class="col-md-6 mb-3">
                    <label for="timeEntries[@i].Date">@date.ToString("d")</label>
                    <input type="hidden" asp-for="TimeEntries[@i].Date" value="@date" />
                    <div class="input-group">
                        <input asp-for="TimeEntries[@i].TimeIn" type="time" class="form-control" id="TimeEntries[@i].TimeIn" required>
                        <input asp-for="TimeEntries[@i].TimeOut" type="time" class="form-control" id="TimeEntries[@i].TimeOut" required>
                    </div>
                    <div class="invalid-feedback">
                        Please enter a time in and time out.
                    </div>
                </div>
            }
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

