@page
@using Last_Try.Data
@using Last_Try.Models
@using Last_Try.Controllers
@using Microsoft.EntityFrameworkCore.Storage
@model TimeEntryModel;

@{
    ViewData["Title"] = "Time Entry";
}


 <div class="container">
    <h2 class="my-4">Time Entry</h2>

    <form method="post" class="needs-validation" id="TimeEntry" novalidate>
        <div class="form-row">

           
            @for (int i = 0; i < Model.Date.Count; i++)
            {
                var date = Model.Date[i];
                <div class="col-md-6 mb-3">
                    <label for="timeEntries[@i].Date">@date.ToString("yyyy-MM-dd-ddd")</label>
                    <input type="hidden" asp-for="TimeEntries[@i].Date" name="times[@i].Date" value="@date" id="TimeEntries[@i].Day" />
                    <div class="input-group">
                        <input asp-for="TimeEntries[@i].TimeIn" name="TimeEntries[@i].TimeIn" type="time" class="form-control" id="TimeEntries[@i].TimeIn">
                        <input asp-for="TimeEntries[@i].TimeOut" name="TimeEntries[@i].Time_Out" type="time" class="form-control" id="TimeEntries[@i].Time_Out">
                    </div>
                    <div class="invalid-feedback">
                        Please enter a time in and time out.
                    </div>
                </div>
            }
            @* } *@
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
 
</div>


